extends ./layouts/index
block contenido
    h1.text-center.mt-5 #{pagina}
    blockquote.text-center Lee sobre nuestros clientes y sus experiencias
    include ./layouts/bloque-testimoniales.pug
    main.container.mt-5
        .row
            .col-md-12
                h2.d-block.w-100.text-center Agrega un Testimonial
                if(errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center= error.mensaje
            .row.justify-content-center.col 
                .col-md-8 
                    form(action="/testimoniales", method="post") 
                        .form-group 
                            label(for="nombre") Nombre 
                            input#nombre(type="text", name="nombre", placeholder="Tu Nombre", class="form-control", value= nombre)
                        .form-group 
                            label(for="email") Correo Electronico 
                            input#email(type="text", name="email", placeholder="Tu E-Mail", class="form-control", value= email)
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(name="mensaje", cols="30", rows="10", placeholder="Escribe tu mensaje" class="form-control")= mensaje
                        input.btn.btn-success.btn-block(type="submit")